.jd img {
    display: none;
}

.jd .eds-bpm-view.eds-bpm-view-first {
    background: url(https://mir-s3-cdn-cf.behance.net/projects/202/76d5d964479701.Y3JvcCwxMjAyLDk0MSwwLDA.png) center no-repeat;
}

#options {
    display: none;
}