@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');

.post-edit-link {
    display: none;
}


/* Example 1 */

.ex-1 {
    border: 1px solid green;
    display: none;
    margin-bottom: 52px;
}

/* .btn {
    background: transparent;
    border: 2px solid var(--color, black);
    border-radius: 2px;
    color: #333;
    font-size: 0.6em;
    padding: 2rem 4rem;
}

.btn:hover {
    background: var(--color, #000);
    color: white;
    cursor: pointer;
}

.btn.red {
    border-color: red;
    --color: red;
}

.btn.red:hover {
    background: red;
}

.btn.green {
    --color: green;
}

.btn.yellow {
    --color: yellow;
}
 */

/* body {
    background-color: var(--bg, white);
    color: var(--bg-text, black);
} */

/* Example 2 */

:root {
    --primary-color: rgba(241, 196, 15, 1);
    --secondary-color: red;
    --slider: 0;
}

body {
    background: url('http://bit.ly/2FiPrRA') 0 100%/340px no-repeat, var(--primary-color);
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Shadows Into Light Two', cursive;
    margin: 0;
}

.entry {
    background: transparent;
}

main.booth {
    align-items: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.slider,
.instructions {
    /* background: #000; */
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 1rem 2rem;
    /* position: absolute; */
    position: relative;
}

.slider {
    right: 10px;
    top: 10px;
}

.slider > * {
    display: block;
}

.color-boxes {
    background: var(--secondary-color);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
    border-radius: 0.3rem;
    transform: perspective(500px) rotateY( calc(var(--slider) * 1deg) );
    transition: transform 0.3s;
}

.color-box {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.3rem;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
    margin: 0 0 0.5rem;
    padding: 1rem 3.5rem;
}

.color-box:nth-child(1) {
    background: var(--bg-1);
}

.color-box:nth-child(2) {
    background: var(--bg-2);
}

.color-box:nth-child(3) {
    background: var(--bg-3);
}

.color-box:nth-child(4) {
    background: var(--bg-4);
}

.color-box:nth-child(5) {
    background: var(--bg-5);
}

.color-box:nth-child(6) {
    background: var(--bg-6);
}


/* Instructions */
.instructions {
    background: initial;
    bottom: 0;
    color: black;
    text-align: center;
}