.nav-secondary {
    display: none !important;
}

#menu-mobile-nav {
    display: none !important;
}

ul#menu-mobile-nav {
    display: none !important;
}

nav.nav-secondary {
    display: none !important;
}